body {
	font-family: "Merriweather", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.account.account--photo {
	background: #6fb9fb;
}
.account.account--photo .account__card {
	background-color: rgba(0, 10, 16, 0.8);
	color: #fff;
}
.account.account--photo .form__form-group-icon,
.account.account--photo .form__form-group-button {
	background: transparent;
}
.account.account--photo .form__form-group-icon,
.account.account--photo input:not(:last-child) {
	border-right: none;
}
.account.account--photo .form__form-group-button,
.account.account--photo input {
	border-left: none;
}
.account.account--photo .form__form-group-button.active {
	border-color: #eff1f5;
}
.account.account--photo .form__form-group-button.active svg {
	fill: #eee;
}
.account.account--photo input {
	color: #fff;
}
.account.account--photo input:focus {
	border-color: #eff1f5;
}
.account.account--photo p {
	color: #fff;
}
.account.account--photo .account__title {
	color: #fff;
}
.account__btns {
	display: flex;
	width: calc(100% + 0.75rem);
	margin: -0.75rem 0 -1.25rem -0.75rem;
}
.account__btns a {
	margin: 0.75rem 0 1.25rem 0.75rem;
	white-space: nowrap;
}
.account__btn {
	width: 100%;
	margin-right: 0;
}
.account__forgot-password {
	position: absolute;
	font-size: 0.75rem;
	line-height: 1rem;
	bottom: -1rem;
	right: 0;
}
.account__forgot-password a {
	color: #70bbfd;
}
.account__forgot-password a:hover {
	color: #3ea3fc;
	text-decoration: none;
}
.form__form-group--forgot {
	margin-bottom: 2.5rem;
}
.account__or {
	text-align: center;
	margin-top: 2.5rem;
	margin-bottom: 1.25rem;
	position: relative;
}
.account__or:before,
.account__or:after {
	content: "";
	height: 1px;
	width: calc(50% - 90px);
	background: #ddd;
	position: absolute;
	top: 0.75rem;
}
.account__or:before {
	left: 0;
}
.account__or:after {
	right: 0;
}
.account__social {
	text-align: center;
}
.account__social-btn {
	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 0.25rem;
	padding: 0.5rem;
	margin-right: 0.75rem;
	transition: all 0.3s;
	border: none;
}
.account__social-btn:last-child {
	margin-right: 0;
}
.account__social-btn svg {
	fill: #fff;
	height: 1.25rem;
	width: 1.25rem;
}
.account__social-btn.account__social-btn--facebook {
	background: #4766a4;
}
.account__social-btn.account__social-btn--facebook:hover {
	background: #385080;
}
.account__social-btn.account__social-btn--google {
	background: #c74d4d;
}
.account__social-btn.account__social-btn--google:hover {
	background: #ab3636;
}
.account__head {
	margin-bottom: 2rem;
	padding-left: 0.75rem;
	border-left: 0.25rem solid #70bbfd;
}
.account__logo {
	font-weight: 700;
}
.account__logo-accent {
	color: #70bbfd;
}
.account__have-account {
	text-align: center;
	margin-top: 1.25rem;
}
.account__have-account a {
	color: #70bbfd;
	transition: all 0.3s;
}
.account__have-account a:hover {
	color: #3ea3fc;
	text-decoration: none;
}
@media screen and (max-width: 51.25rem) {
	.account__card {
		padding: 2.5rem 2rem;
	}
}
@media screen and (max-width: 425px) {
	.account__btns {
		flex-wrap: wrap;
	}
}

.form-control {
	margin: 0.75rem 0;
}

.header-editor {
	background: #fff;
	outline: none;
	padding: 1.25rem;
	border: 1px solid #b3b3b1;
}

.navbar-brand {
	font-size: 1rem;
}
